.AboutAcu{
background: white;
min-height: 100vh;
width: 100%  ;
margin: 0;
padding: 0;
overflow: hidden;
animation: 1s ease-in-out 0s  MoveFromRight;

}
.Aboutus__header{
    text-align: center;
    position: relative;
    bottom: -20%;
   
}
.Aboutus__header h1{
    font-size: 5rem;
    
}
.Aboutus__container{
    width: 100%;
}
.Aboutus__historyImage img{
    width: 60%;
}
.AboutAcu__header-img{
    text-align: center;
}
.AboutAcu__header-img img{
width: 50%;

}
.Aboutus__history{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem;
}
.Aboutus__info h1{
    font-size: 2.5rem;
}
.Aboutus__info p{
width: 60%;
font-size: 1.9rem;


}
.AboutUs__UniversityMission__info h5{
    font-size: 1.7rem;
    width: 50%;
margin-bottom: 1rem;
}
.AboutUs__UniversityMission__info li{
    width: 50%;
    font-size: 2rem;
}
@media screen and (max-width:1350px) {
    .Aboutus__history{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
}
.Aboutus__info p{
    width: 100%;

}
.Aboutus__historyImage img{
    width: 100%;
    margin-top: 3rem;
    
    }

    .AboutUs__UniversityMission__info h5{
        font-size: 1.7rem;
        width: 100%;

    }
    .AboutUs__UniversityMission__info li{
        width: 100%;

    }
   .Aboutus__header-img img{
    width: 100%;
   }
}