.applicants__modal{
    width: 100vw;
    height: 100vh;
   
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tinfo{
    font-size: 2rem;
    margin: 0.5rem;
}
.tinfo th{
    margin-left: 2rem;
}
/* .tinfo th td{
font-size: 2rem;
} */
.applicants__modalcontainer__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.applicants__modalcontainer{
    width: 700px;
    height: 700px;
    border-radius: 12px;
    background-color: rgb(173, 168, 168);
    
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}
.student-profile .card {
    border-radius: 10px;
}
.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}
.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}
.table tr{
    margin: 5rem;
}
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  @media screen and (max-width:480px){
    .applicants__modalcontainer{
    width: 300px;
    height: 900px;
    }
    .applicants__modalcontainer__row{
    grid-template-columns: 1fr;
    }
    .tinfo{
    margin: 0;
    }
  }